@model PaymentsListViewModel
@using Dinner.Models.Home

@{
    ViewBag.Title = "Обед";
}


<div class="jumbotron">
    <table class="table" style="max-height: 500px; overflow-y: auto;">
        <tbody>
            @foreach (var item in Model.Items.Take(3))
            {
                <tr>
                    <td>@(item.Date)</td>
                    <td>@item.Payer.Name</td>
                    <td>@item.PaymentsText</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div id="js__first_amount_container" class="col-md-4">
        <h2>Добавить платеж</h2>
        <div class="form-group">
        </div>
        <div class="form-inline">
            @Html.TextBox("js__first_amount", "", new { @class = "form-control", style="width: 150px;" })
            <button id="js__first_amount_btn" class="btn btn-primary" type="button">Добавить</button>
        </div>
    </div>
    <div id="js__detailed_amount" class="col-md-4 hidden">
        <h2>Добавить платеж</h2>

        <form id="js__form" class="form-horizontal" method="post" action="~/Home/AddPayment/">
            <div id="js__form_payments_container">

            </div>

            <input id="js__form_amount" name="Data" type="hidden" />
            <button id="js__detailed_amount_btn" class="btn btn-primary" type="button">Добавить</button>
            <button id="js__detailed_cancel_btn" class="btn btn-default" type="button">Отмена</button>
        </form>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <h2>Долги</h2>
        @*@foreach (var debt in Model.Debts)
        {
            <p>
                @debt.From.Name должен @debt.To.Name = @debt.Amount
            </p>
        }*@
        @foreach (var usr in Model.Users)
        {
            <p>
                @usr.Name = @usr.Total
            </p>
        }
    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        var users = [@Html.Raw(string.Join(", ", Model.Users.Select(usr => $"{{ 'id': {usr.Id}, 'name': '{usr.Name}' }}")))];


        $(document).ready(function () {
            $('#js__first_amount_btn').click(function () {
                $('#js__amount').val($('#js__first_amount').val());
                
                var amount = parseInt($('#js__first_amount').val());
                if (Number.isNaN(amount)) {
                    alert('Неверная сумма платежа');
                    return;
                }

                makeForm(amount);
                $('#js__first_amount_container').addClass('hidden');
                $('#js__detailed_amount').removeClass('hidden');
            });


            $('#js__detailed_amount_btn').click(function () {

                var answer = [];

                $('#js__form_payments_container input').each(function () {

                    answer.push({
                        id: $(this).data('id'),
                        sum: $(this).val()
                    });
                });

                $('#js__form_amount').val(JSON.stringify(answer));
                $('#js__form').submit();
            });


            $('#js__detailed_cancel_btn').click(function () {
                $('#js__detailed_amount').addClass('hidden');
                $('#js__form_payments_container').empty();
                $('#js__first_amount_container').removeClass('hidden');
            });
        });

        function makeForm(sum)
        {
            var amount = sum / users.length;

            var body = $('#js__form_payments_container')
            for (var i = 0; i < users.length; i++) {
                body.append('<div class="form-group"><label class="col-sm-3 control-label">' + users[i].name + '</label>'
                    + '<div class="col-sm-7"><input type="text" class="form-control" data-id="' + users[i].id + '" value="' + amount + '" /></div>'
                    + '<div class="col-sm-2"><button data-sum="' + sum + '" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button></div></div>');
            }

            $('#js__form_payments_container button').click(function () {
                $(this).parent().parent().remove();

                var sum = $(this).data('sum');
                var inputs = $('#js__form_payments_container input');
                var amount = sum / inputs.length;

                inputs.each(function (key, value) {
                    $(value).val(amount.toFixed(2));
                });
            });
        }

    </script>
}